<div id="build" class="item-details {{ item.build.state }}">
	<h5>Build</h5>
	<div id="debug" class="row">
		<div class="col-xs-6">
			<%= image_tag "firewall_running.png" %>
			<p>Debug</p>
		</div>
		<div class="col-xs-6">
			<%= image_tag "firewall_running.png" %>
			<p>Release</p>
		</div>
	</div>
	<h6>{{ item.time_started || "--" }}</h6>
</div>