<div id="functional-test" class="item-details {{ item.functional_test.state }}">
	<h5>Functional Test</h5>
	<canvas id="pie" class="chart chart-pie"
	  chart-data="item.functional_test.tests_data" chart-labels="pie_labels" chart-colours="pie_colours">
	</canvas> 
	<div class="row">
		<div class="col-xs-6">
			<h3>{{ (item.functional_test.tests_data[1] / item.functional_test.tests_data[0]) * 100 | number:0 }}%</h3>
			<h6>tests passed</h6>
		</div>
		<div class="col-xs-6">
			<h3>{{ item.functional_test.code_covered }}%</h3>
			<h6>code coverage</h6>
		</div>
	</div>
</div>