<div class="row hidden-xs item-md">
	<div class="col-sm-1 text-left">
		<%= image_tag "/images/{{ item.type }}_{{ item.state }}.png", class: "icon" %>
	</div>
	<div class="col-sm-2 text-left">
		{{ item.changelist }}
	</div>
	<div class="col-sm-1">
		{{ item.owner }}
	</div>
	<div class="col-sm-2">
		{{ item.time_started }}
	</div>
	<div class="col-sm-1">
		{{ item.state | capitalize }}
	</div>
	<div>
		<div class="col-sm-1">
			<div class="block-{{ item.metrics.state }} block block-{{ $index }}"></div>
		</div>
		<div class="col-sm-1">
			<div class="block-{{ item.build.state }} block block-{{ $index }}"></div>
		</div>
		<div class="col-sm-1">
			<div class="block-{{ item.unit_test.state }} block block-{{ $index }}"></div>
		</div>
		<div class="col-sm-2">
			<div class="block-{{ item.functional_test.state }} block block-{{ $index }}"></div>
		</div>
	</div>
</div>

<div class="row item visible-xs text-left">
	<div class="col-xs-12 text-center">
		<%= image_tag "/images/{{ item.type }}_{{ item.state }}.png", class: "icon" %>
	</div>
	<div class="col-xs-6">
		Changelist / Build:
	</div>
	<div class="col-xs-6">
		{{ item.changelist }}
	</div>
	<div class="col-xs-6">
		Owner:
	</div>
	<div class="col-xs-6">
		{{ item.owner || "--" }}
	</div>
	<div class="col-xs-6">
		Time Started:
	</div>
	<div class="col-xs-6">
		{{ item.time_started || "--" }}
	</div>
	<div class="col-xs-6">
		State:
	</div>
	<div class="col-xs-6">
		{{ item.state | capitalize }}
	</div>
	<div ng-if="item.state != 'pending'">
		<div class="col-xs-6">
			Metrics:
		</div>
		<div class="col-xs-6">
			<div class="block-{{ item.metrics.state }}"></div>
		</div>
		<div class="col-xs-6">
			Build:
		</div>
		<div class="col-xs-6">
			<div class="block-{{ item.build.state }}"></div>
		</div>
		<div class="col-xs-6">
			Unit Test:
		</div>
		<div class="col-xs-6">
			<div class="block-{{ item.unit_test.state }}"></div>
		</div>
		<div class="col-xs-6">
			Functional Test:
		</div>
		<div class="col-xs-6">
			<div class="block-{{ item.functional_test.state }}"></div>
		</div>
	</div>
</div>