<div id="metrics" class="item-details {{ item.metrics.state }}">
	<h5>Metrics</h5>
	<div class="row">
		<div class="arrow col-xs-6">
			<%= image_tag "up_arrow.png" %>
			<h4>{{ item.metrics.test }}</h4>
			<h6>Test</h6>
		</div>
		<div class="arrow col-xs-6">
			<%= image_tag "down_arrow.png" %>
			<h4>{{ item.metrics.maintainability }}</h4>
			<h6>Maintainability</h6>
		</div>
	</div>
	<div class="row">
		<div class="arrow col-xs-6">
			<%= image_tag "right_arrow.png" %>
			<h4>{{ item.metrics.security }}</h4>
			<h6>Security</h6>
		</div>
		<div class="arrow col-xs-6">
			<%= image_tag "right_arrow.png" %>
			<h4>{{ item.metrics.workmanship }}</h4>
			<h6>Workmanship</h6>
		</div>
	</div>
</div>